#map, #bar-chart, #animation, #line-chart{
		display: block;
		vertical-align: top;
		border: 1px solid red;
		min-height: 400px
	}

#map{
    display: none;
    height: 600px;
    width: 80%;
    margin: 0 auto;
}

#animation{
    height: 200px;
}