section{
    display: flex;
    flex-direction: row;
}
#map, #bar-chart, #animation, #line-chart{
	display: inline-block;
	/*vertical-align: top;*/
	border: 1px solid red;
	min-height: 400px
}

#map{
    height: 600px;
    flex-basis: 65%
    margin: 0 auto;
}

#bar-chart{
    height: 600px;
    flex-basis: 35%;
    overflow-y: scroll;
}
#animation{
    height: 200px;
}